<!-- <div class="container">
    <table class="table table-hover table-success" border="2">
      <thead>
        <tr >
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Designation</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let coin of coins">
          <td scope="row">{{coin.id}}</td>
          <td>{{coin.name}}</td>
          <td>{{coin.designation}}</td>
          <td>{{coin.location}}</td>
        </tr> 
      </tbody>
      
    </table>
  
</div>
 -->

<app-axios></app-axios>
<app-parent></app-parent>

